.formula {
  margin: 2px;
  padding: 0;
  max-width: max-content;
}

.selected {
  color: lightgray;
  box-shadow: 0px 0px 10px 8px #000000;
  transition:
    box-shadow 0.25s ease-in-out,
    color 0.25s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
}
