.topbar-spacing {
  min-height: 65px;
  max-height: 65px;
  height: 65px;
}

.logo-link {
  text-decoration: none;
  color: inherit;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
