.cells-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
}

.cell {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border: 1px solid gray;
}

.add-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title-container {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 1rem;
}