.notebook-page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.notebook-content-container {
    flex: 1;
    width: 100%;
    min-width: 300px;
    margin-right: 1rem;
    height: min-content;
}

.sidebar-space {
    min-width: 250px;
    max-width: 250px;
    margin-left: 0;
    margin-right: 1rem;
}
