.notebook-page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
    width: 100%;
}

.notebook-container {
    flex: 1;
    width: 100%;
    min-width: 400px;
    margin-right: 2rem;
}

.sidebar-space {
    min-width: 200px;
    width: 300px;
    height: 100vh;
    margin-left: 0;
    margin-right: 1rem;
}

.sidebar-container {
    left: 0;
    position: fixed;
    min-width: 200px;
    width: 300px;
    height: 100vh;
}